<!-- app.component.html -->
<h1>{{ title }}</h1>

<!-- Create New List -->
<div>
  <input type="text" [(ngModel)]="newListName" placeholder="Enter new list name">
  <button (click)="addList()">Add List</button>
</div>

<!-- View Lists -->
<div *ngFor="let list of lists; let i = index">
  <h2 (click)="selectList(i)">{{ list.name }} - {{ list.items.length }} items</h2>
  <ul *ngIf="selectedListIndex === i">
    <li *ngFor="let item of list.items; let j = index">
      <input type="checkbox" [(ngModel)]="item.completed"> {{ item.text }}
      <button (click)="deleteItem(i, j)">Delete</button>
    </li>
  </ul>
  <button (click)="deleteList(i)">Delete List</button>
</div>
