h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 36px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #fff;
  transition: color 0.3s;
}

h1:hover {
  color: #ff4081;
}

.tag {
  font-size: 0.8em;
  color: #ccc;
}
//box where you type
.input-field {
  display: inline-block;
  padding: 8px;
  margin-right: 10px;
  border: 1px solid #333;
  border-radius: 5px;
  background-color: #444;
  color: #fff;
}

//complicated because imported dropdown was not working
.select-field {
  display: inline-block;
  font-size: 3;
  padding: 8px;
  margin-right: 10px;
  border: 1px solid #666;
  border-radius: 5px;
  background-color: #555;
  color: #fff;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
  background-image: url('data:image/svg+xml;utf8,<svg fill="%23FFFFFF" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path d="M7 10l5 5 5-5z"></path></svg>');
  background-repeat: no-repeat;
  background-position: right 8px center;
  background-size: 16px 16px;
  width: 85px;

}


//essentially what each list is held in
.list-container {
  margin-top: 20px;
  padding: 10px;
  border-radius: 3px;
  transition: background-color 0.3s;
  animation: fadeIn 0.5s ease-in-out;
}
//allows lists container to fade in when added 
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.list-container:hover {
  background-color: #444;
}

.item-list-container {

  display: inline-block;
  margin-right: 5px;
}
//the rest of these help the delete buttons ony appear when you hover over list container
.delete-list-button {
 visibility: hidden;
}

.list-container:hover .delete-list-button {
visibility: visible;}


.list-container:hover .delete-list-button {
  visibility: visible;}

.list-container:hover .delete-item-button {
    visibility: visible;}

.delete-item-button {
  visibility: hidden;
 }
 
 