h1 {
    text-align: center;
    font-family: 'Roboto', sans-serif; /* Use Roboto font */
    font-size: 36px; /* Adjust the font size as needed */
    font-weight: 700; /* Use bold font weight */
    margin-top: 20px;
    margin-bottom: 20px; /* Add some space below the title */
  }
.tag {
    font-size: 0.8em; /* Adjust the font size as needed */
  }
  body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .input-field, .select-field {
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .button {
    padding: 8px 12px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .link {
    margin-left: 10px;
    color: #007bff;
    text-decoration: none;
  }
  
  .list-container {
    margin-top: 20px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 3px;
  }
  
  .list-item {
    display: inline-block;
    margin-right: 5px;
  }
  
  .delete-button {
    padding: 3px 8px;
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .delete-list-button {
    margin-top: 10px;
    padding: 8px 12px;
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  